.counter {
    position:absolute;
    width:30vw;
    height:20vw;
    top:30%;
    left:35%;
    border:2px solid black;
    text-align:center;
}
.counter::after {
    content:"\a";
    white-space:pre;
}
.count {
    font-size:1.5em;
}
.btn::before {
    content:"\a";
    white-space:pre;
}